:root{
  --pink-color: #FF05AC;
  --black-color: black;
  --white-color: white;
  --blue-color: #00F6FF; 
}

*{
  padding: 0;
  margin:0;
}
*::after,
*::before{
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}


a{
  text-decoration: none;
}