header{
    min-height: 100vh;
    
}
.top-bar {
    width: 100%;
    background-image: url("/background.jpg");
    overflow: hidden;
    white-space: nowrap; 
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
  }
  
  .name{
    height: 20vh;
    display: flex;
  }

  .name a{
    text-decoration: none;
    color: inherit;
    margin-left: auto;
    margin-right: auto;
  }

  .name h1{
    font-size: clamp(5rem, 2.5vw, 3.5rem);
    align-self:last baseline;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 
    -1px -1px 0 rgb(200, 63, 221), 
    1px -1px 0 rgb(200, 63, 221), 
    -1px 1px 0 rgb(200, 63, 221),
    1px 1px 0 rgb(200, 63, 221); 
    color: rgb(10, 5, 26);
  }

  .name h1:hover{
    color: rgb(200, 63, 221);
    text-shadow: 
    -1px -1px 0 rgb(10, 5, 26), 
    1px -1px 0 rgb(10, 5, 26), 
    -1px 1px 0 rgb(10, 5, 26),
    1px 1px 0 rgb(10, 5, 26); 
    transition: all .2s ease-in-out;
  }


  .background{
    background-color: white;
    min-height: 100vh;
    height: auto;
    background-size: cover;
    background-image: url("/background.jpg");
    background-repeat:repeat;
    background-size: cover;
  }

.intro1{
    width: 20%;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.intro2{
    width: 20%;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.time{
    position: absolute;
    right: 10px;
    font-size: 20px;
}

.text-box{
  color: rgb(4, 4, 55);
  flex-basis: 0;
  flex-grow: 999;
  font-size: clamp(1.2rem, 1vw, 3.5rem);
  line-height: 1.5;
  border: 8px ridge rgb(6, 37, 81);
  background-color: rgb(240, 232, 232);
  position: absolute;
  top: 40vh;
  padding: min(2em, 2%);
  z-index: 100;
  width: min(42em, 92%);
  left: 50%;
  transform: translateX(-50%);
}

.text-box h1{
  font-size: 50px;
  margin-bottom: 10px;
  font-size: clamp(2rem, 2.5vw, 3.5rem);
}

.main-nav-list{
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 2vw, 3rem);
  text-align: center;
  width: 100%;
  margin-top: 10vh;
  position: absolute;
  list-style: none;
}

.main-nav-list li{
  color: rgb(255, 96, 205);
  font-size: clamp(1.4rem, 1.5vw, 2rem);
  font-weight: 600;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.text-box p{
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin-bottom: 20px;
  color: rgb(4, 4, 55);
}