header{
    min-height: 100vh;
    
}

 




.time{
    position: absolute;
    right: 10px;
    font-size: 20px;
}

.text-box{
  color: rgb(4, 4, 55);
  flex-basis: 0;
  flex-grow: 999;
  font-size: clamp(1.2rem, 1vw, 3.5rem);
  line-height: 1.5;
  border: 8px ridge rgb(6, 37, 81);
  background-color: rgb(240, 232, 232);
  position: absolute;
  top: 40vh;
  padding: min(2em, 2%);
  z-index: 100;
  width: min(42em, 92%);
  left: 50%;
  transform: translateX(-50%);
}

.text-box h1{
  margin-bottom: 10px;
  font-size: clamp(2.3rem, 2.5vw, 3.5rem);
}



.text-box p{
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin-bottom: 20px;
  color: rgb(4, 4, 55);
  font-family: "Red Hat Display", sans-serif;
}

