.info{
    min-height: 100vh;
}

.portfolio{
    
    font-size: clamp(1rem, 2vw, 1.5rem);
    border-bottom: solid 1px black;
}

.portfolio h2{
    text-align:center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.portfolio-container {
    position: absolute;
    flex-basis: 0;
    flex-grow: 999;
    font-size: clamp(1.2rem, 1vw, 3.5rem);
    line-height: 1.5;
    top: 40vh;
    padding: min(2em, 2%);
    z-index: 100;
    width: min(42em, 92%);
    left: 50%;
    transform: translateX(-50%);
  }
  
  .portfolio-card:hover {
    transform: translateY(-5px);
    border-color: #00ccff;
  }
  
.portfolio-box{
    background-color: rgb(240, 232, 232);
    border: 8px ridge rgb(6, 37, 81);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.portfolio-box:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}